/* reactflow overrides */
/* see node_modules/@xyflow/react/dist/style.css */
.react-flow.dark {
  --xy-edge-stroke-default: var(--mui-palette-grey-700);
}
.react-flow__pane.draggable {
  cursor: default;
}
.react-flow__pane.dragging {
  cursor: grabbing;
}
.react-flow__handle {
  width: 8px;
  height: 8px;
  z-index: 10;
}
.react-flow__handle::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: -150%;
  top: -100%;
}
.react-flow__handle.connectingto {
  background-color: var(--mui-palette-error-main);
}
.react-flow__handle.valid {
  background-color: var(--mui-palette-success-main);
}
.react-flow__handle.handle-buffer {
  background-color: var(--mui-palette-secondary-main);
}
/* Some operations can output either Data or Stream so we cannot color code Stream handles.  */
/* .react-flow__handle.handle-stream {
  background-color: var(--mui-palette-warning-main);
} */
